
.header {
  background-color: #5d5d5d;
  background-image: url('../../../assets/img/bg_home.jpg');
  background-size: 25%;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 2rem 1rem;
  box-shadow: 1px 1px 1px #000000;
}

.header-titulo {
  text-align: right;
  font-size: 1.5rem;
}

.header-subtitulo {
  font-size: .9rem;
  text-align: right
}
