.cerveja-selecionada-block {
  padding: 2rem;
  background-color: #f1f1f1;
  margin: 0 auto;
  text-align: center;
}

.cerveja-selecionada {
  width: 60%;
  margin: 0 auto;
}

.cerveja-selecionada-img {
  width: 200px;
}

.cerveja-selecionada-nome {
  color: #a7a7a7;
  font-weight: bold;
}

.cerveja-selecionada-label {
  color: #c7c7c7;
}
