<main class="app">
  <app-header></app-header>

  <div class="cerveja-selecionada-block">
    <div class="cerveja-selecionada">
      <img id="js-img-selected" class="cerveja-selecionada-img" src="https://images.punkapi.com/v2/keg.png" alt="cerveja selecionada">
      <div class="cerveja-selecionada-nome">Buzz</div>
      <div class="cerveja-selecionada-label"> Reall Bitter Experience</div>
    </div>
  </div>

  <!-- PART 3 -->
  <div class="cervejas">
    <div class="cervejas-filtro-block">
      <input class="cervejas-filtro-input" type="text" placeholder="Eu quero uma...">
    </div>
    <ul class="cervejas-lista">
      <li class="cervejas-lista-item">
        <div class="cerveja" id="c1">
          <div class="cerveja-img-block">
            <img class="cerveja-img" src="https://images.punkapi.com/v2/keg.png" alt="cerveja selecionada">
          </div>
          <div class="cerveja-nome">Buzz</div>
        </div>
      </li>
      <li class="cervejas-lista-item">
        <div class="cerveja" id="c2">
          <div class="cerveja-img-block">
            <img class="cerveja-img" src="https://images.punkapi.com/v2/6.png" alt="cerveja selecionada">
          </div>
          <div class="cerveja-nome">Buzz</div>
        </div>
      </li>
      <li class="cervejas-lista-item">
        <div class="cerveja" id="c3">
          <div class="cerveja-img-block">
            <img class="cerveja-img" src="https://images.punkapi.com/v2/2.png" alt="cerveja selecionada">
          </div>
          <div class="cerveja-nome">Buzz</div>
        </div>
      </li>
      <li class="cervejas-lista-item">
        <div class="cerveja" id="c4">
          <div class="cerveja-img-block">
            <img class="cerveja-img" src="https://images.punkapi.com/v2/9.png" alt="cerveja selecionada">
          </div>
          <div class="cerveja-nome">Buzz</div>
        </div>
      </li>
      <li class="cervejas-lista-item">
        <div class="cerveja" id="c5">
          <div class="cerveja-img-block">
            <img class="cerveja-img" src="https://images.punkapi.com/v2/8.png" alt="cerveja selecionada">
          </div>
          <div class="cerveja-nome">Buzz</div>
        </div>
      </li>
      <li class="cervejas-lista-item">
        <div class="cerveja" id="c6">
          <div class="cerveja-img-block">
            <img class="cerveja-img" src="https://images.punkapi.com/v2/10.png" alt="cerveja selecionada">
          </div>
          <div class="cerveja-nome">Buzz</div>
        </div>
      </li>
      <li class="cervejas-lista-item">
        <div class="cerveja" id="c7">
          <div class="cerveja-img-block">
            <img class="cerveja-img" src="https://images.punkapi.com/v2/6.png" alt="cerveja selecionada">
          </div>
          <div class="cerveja-nome">Buzz</div>
        </div>
      </li>
    </ul>
  </div>
</main>























<!--
 <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

 -->
