

/* END:: 1 - Clean UP */

/* Init STYLE */


.cerveja-selecionada-block {
  padding: 2rem;
  background-color: #f1f1f1;
  margin: 0 auto;
  text-align: center;
}

.cerveja-selecionada {
  width: 60%;
  margin: 0 auto;
}

.cerveja-selecionada-img {
  width: 200px;
}

.cerveja-selecionada-nome {
  color: #a7a7a7;
  font-weight: bold;
}

.cerveja-selecionada-label {
  color: #c7c7c7;
}

.cervejas {
  background-color: #ececec;
  padding: 1rem 3rem 3rem;
}

.cervejas-filtro-block {
  text-align: center;
  margin: 1.5rem;
}

.cervejas-filtro-input {
  padding: .5rem .8rem;
  border-radius: 1rem;
  border: 2px solid #c7c7c7;
  width: 30rem;
  outline: none;
}

.cervejas-lista {
  display: flex;
  flex-wrap: wrap;
}

.cervejas-lista-item {
  /* float: left; */
  margin: 1rem;
}

.cerveja {
  padding: .5rem;
  width: 10rem;
  height: 10rem;
  transition: all .5s;
  background-color: #fff;
}

.cerveja:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  width: 12rem;
  height: 12rem;
}

.cerveja-img-block {
  text-align: center;
  height: 7rem;
}

.cerveja-img {
  height: 6.5rem;
  width: 2rem;
}

.cerveja-nome {
  height: 2rem;
  color: #a7a7a7;
  font-size: .9rem;
}
